# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lesson3/nbproject/private/
/Lesson3/build/
/Lesson03/nbproject/private/
/Lesson03/build/
/TEST/nbproject/private/
/QuanLyKhachSan/nbproject/private/
/TEST/build/
/QuanLyKhachSan/build/
/ChuaBTVN03/nbproject/private/
/Lesson04/nbproject/private/
/Lesson04/build/
/NetworkSecurityProject/nbproject/private/
/NetworkSecurityProject/build/
/Lesson05/nbproject/private/
/Lesson05/build/
/Lesson05/dist/
/Lesson6/nbproject/private/
/Lesson6/build/